/* FONTS */
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}




/* Mobile Menu */

/* .nav-menu {
    display: none;
    flex-direction: column;
}

.menu-toggle {
    display: block;
}

.menu-toggle:checked + .nav-menu {
    display: flex;
} */








.menuLinks {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", serif;
    gap: 10px;
    transition: all 0.5s;
    font-size: 25px;
}

.menuLinks:hover {
    color: greenyellow;
}


body{
    background-color: black;
}


.imageSectionOne{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 900px) {
    .imageSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
@media screen and (max-width: 500px) {
    .imageSectionOne{
       display: flex;
       flex-direction: column;
       max-width: 100%;
       height: auto;
    }
}


.sectionOne{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color:none;
    padding: 20px;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    margin: 20px;
}
@media screen and (max-width: 1920px) {
    .sectionOne {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color:none;
        padding: 20px;
        box-sizing: border-box; 
        border: 2px solid white; 
        /* margin: 20px; */
    }}
@media screen and (max-width: 900px) {
    .sectionOne {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.innerSectionOne{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    padding-left: 100px;
    font-family: "Montserrat", serif;
    /* max-width: 700px; */
}

@media screen and (max-width: 900px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
        padding: 10px;
    }
}
@media screen and (max-width: 850px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
    }
}

@media screen and (max-width: 450px) {
    .innerSectionOne{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Montserrat", serif;
    }}


h1{
    font-family: "Bebas Neue", serif;
    color:white;
}

.h1{
    color:white;
}

h2{
    font-family: "Bebas Neue", serif;
}

h5{
    font-family: "Montserrat", serif;
    font-style: bold;
    padding: 2px 0px;
    margin: 0px 0px;
    
}

/* Base button styling */
button {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #111111;
    background-color: #aaff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", serif;
  }
  
  /* Hover effect */
  button:hover {
    background-color: #ffffff;
  }

  /* Base button styling */
.button {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #111111;
    background-color: #aaff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", serif;
  }
  
  /* Hover effect */
.button:hover {
    background-color: #ffffff;
  }
  
  /* Active effect */
  button:active {
    background-color: #aaff00;
  }
  
  /* Disabled state */
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

/* button {
    background-color: white;
    text-decoration-color: black;
    text-decoration: none;
    transition: all 0.5s;
    padding: 10px;
    margin: 10px 0px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    width: fit-content;
    content: center;
} */

/* button:hover {
    background-color: greenyellow;
    text-decoration-color: black;
    text-decoration: none;
} */

.sectionTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: none;
    /* padding: 20px; */
    margin: 20px;
    gap: 20px;
}

@media screen and (max-width: 850px) {
    .sectionTwo {
        display: grid;
        grid-template-columns: 1fr;
       
    }

}


.mainBox{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    padding: 20px;
    color: white;
    font-family: "Montserrat", serif;
}


footer{
    display: flex;
    flex-direction: column;
    color:white;
    /* box-sizing: border-box; 
    border: 2px solid white;  */
    padding: 20px;
    margin: 20px;
    font-family: "Montserrat", serif;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 25px;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    color: #aaff00;
    transition: all 0.5s;
    text-decoration: none;
}

.socialLinks:hover{
    color: #ffffff;
}

/* Contact.html */

.contactMain{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 850px) {
.contactMain{
    display: grid;
    grid-template-columns: 1fr;
}}

.contactForm{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    color: white;
    padding: 20px;
    width: 100%;
}
@media screen and (max-width: 850px) {
    .contactForm{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items:stretch;
        color: white;
        padding: 20px;
        width: 100%;
    }}

.formInput{
    display: flex;
    flex-direction: column;
    /* max-width: fit-content; */
    font-family: "Montserrat", serif;
    background-color:none;
    padding: 30px;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    /* margin: 20px; */
    gap: 10px;
    width: 100%;
    height: auto;

}
/* @media screen and (max-width: 850px) */


.inputs{
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}


/* Portfolio Project Cards */

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: none;
    box-sizing: border-box; 
    border: 2px solid white; 
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .project-card h3 {
    font-size: 1.5em;
    margin: 8px 0;
    color:white;
    font-family: "Bebas Neue", serif;
  }
  
  .project-card p {
    color: #868686;
    font-family: "Montserrat", serif;
  }
  
  .project-card button {
    background-color: #aaff00;
    color: #000000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .project-card button:hover {
    background-color: #ffffff;
  }

  #portfolio {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    padding: 20px;

  }

  #portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: auto;
    
  }
  @media screen and (max-width: 1249px) {
    #portfolio-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
  }
  @media screen and (max-width: 1050px) {
    #portfolio-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
  }

  .aboutSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:none;
    padding: 20px;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    margin: 20px;
    color: white;
  }
  @media screen and (max-width: 900px) {
  .aboutSection{
    display: grid;
    grid-template-columns: 1fr;
  }}


  .innerAboutSection{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: "Montserrat", serif;
    text-decoration: none;
  }

  .imageAboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    max-width: 500px;
  }


  .aboutSectionTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-decoration: none;
    margin: 20px;
  }

  @media screen and (max-width: 1100px) {
    .aboutSectionTwo {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }}

  @media screen and (max-width: 900px) {
    .aboutSectionTwo {
        display: grid;
        grid-template-columns: 1fr;
      }}

  .aboutMainBox{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    border: 2px solid white; 
    border-radius: 8px;
    padding: 20px;
    color: white;
    font-family: "Montserrat", serif;
    text-decoration: none;

  }

  /* Didn't need because used querySelectorAll */
  /* .typeWriter {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    display: inline-block;
    font-family: "Bebas Neue", serif;
} */